body {
  margin: 0;
  font-size: 1.3em;
}

body > h1 {
  text-align: center;
}

body > div:not(:empty)::after,
body > h1::after {
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  background: black;
}
